:root {
  --primary: #004E64 !important;
  --secondary: #25A18E !important;
  --grey: #8c8c8c;
}

.modal-backdrop {
  background-color: rgb(0,0,0,0.1) !important;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--primary);
  }

.fc-center{
  text-transform: capitalize;
}

h1{
  text-align: center;
}